body {
  background-color: black;
  color: white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
}
.cell img {
  width: 25px;
  height: auto;
}
.floor {
  background-color: gray;
}
.wall {
  background-color: brown;
}

h1 {
  display: inline;
}

.ballsCount {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.restart {
  display: none;
}
